<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
      
          <div class="text-wrapper">
            <p class="profile-name"><%-userName%></p>
            <p class="designation">Administrator</p>
          </div>
        </a>
      </li>
      <li class="nav-item nav-category">
        <span class="nav-link">Dashboard</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manageUsers">
          <span class="menu-title">Manage Users</span>
          <i class="icon-people menu-icon"></i>
        </a>
        <a class="nav-link" href="/manageMeetings">
          <span class="menu-title">Manage Meetings</span>
          <i class="icon-screen-desktop menu-icon"></i>
        </a>
      </li>
    
        
    </li>
    </ul>
  </nav>