<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Meeting Scheduling</title>
    <!-- partial stylesheet -->
    <%include ../partials/_stylesheet.ejs%>
</head>

<body>
    <div class="container-scroller">
        <!-- partial navbar-->
        <%include ../partials/_navbar.ejs%>
            <!-- page-body-wrapper ends -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial sidebar-->
                <%include ../partials/_sidebar.ejs%>
                    <!-- main-panel starts -->
                    <div class="main-panel">
                        <!-- partial footer-->
                    </div>
                    <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <%include ../partials/_js.ejs%>
</body>

</html>